{{import gluon.contrib.simplejson}}
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
<script src="static/js/flot/jquery.flot.min.js"></script>

<script type="text/javascript">

function setup_graph() {
   res = JSON.parse('{{=gluon.contrib.simplejson.dumps(days_to_eqs), escape=False}}');
   $.plot($("#placeholder"), [res], {
     xaxis: { mode: "time"}
   });
}

$(document).ready(setup_graph);

</script>
</head>

<body>
<div id="placeholder" style="width:600px;height:300px"></div>
</body>


</html>
